html,body {
    background: url('../images/background.jpeg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.vertical-center {
    background-color: transparent;
    min-height: 100%;
    min-height: 90vh;
    display: flex;
    align-items: center;
}